<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Financio</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:account_list' %}">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'records:record_list' %}">Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'records:category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'records:subcategory_list' %}">Subcategories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:currency_list' %}">Currencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:entity_list' %}">Entities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fixed:fixedrecord_list' %}">Fixed record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budgets:budget_list' %}">Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'investments:investment_list' %}">Investments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transfers:transfer_list' %}">Transfers</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Hello, {{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a> 
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a> 
                </li>
            {% endif %}
        </ul>
        
    </div>
</nav>
